<div class="row powergpa-row" style="font-family: 'Muli', sans-serif; border-radius: 0 !important; -moz-border-radius: 0 !important;">
  <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
    <div class="row">
      <% @col_size = 12 / @students.size %>

      <% @students.each do |name, years| %>
        <div class="col-md-<%= @col_size %>">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 style="color: white; text-align: center;"><%= name %>'s PowerGPA</h3>
            </div>

            <div class="panel-body">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">

                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <% years.each_with_index do |(year_num, year_data), index| %>
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-<%= name %>-<%= index %>" aria-expanded="true" aria-controls="collapseOne">
                          Grade <%= year_num %> -- <%= year_data['GPA'].round(3) %>
                        </a>
                      <% end %>
                    </h4>
                  </div>

                  <% years.each_with_index do |(year_num, year_data), index| %>
                    <div id="collapse-<%= name %>-<%= index %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <ul class="list-group">
                        <% year_data['grade_info'].each do |grade_name, grade_num|%>
                          <li class=list-group-item>
                            <h5><div style="font-size:70%;"><span class="label label-primary"><%= grade_name %></span> <%= grade_num.round(3) %></div></h5>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="panel-footer">
              <h4 style="color: #0a94ff; text-align: center;"> Your GPA: <b><%= years.first[1]['GPA'].round(3) %></b></h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-4 col-xs-offset-1 gpa-chart">
    <div class="list-group">
      <%= erb :gpa_scaling %>
    </div>
  </div>
</div>
